@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Koulen', cursive, monospace;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, #FF5F6C, #FFC374);
    width: 100%;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.30);
    position: fixed;
    display: block;
    top: 0%;
    z-index: 9999;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    
}

.logo {
    width: 60px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transform: all 2s;
}

nav li a:hover {
    color: #4C4C4C;
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.exp::after {
    content: url(img/gift.png);
    padding: 0.1rem;
}

.exp:hover::after {
    content: url(img/gift1.png);
}

.toggle-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.landvid {
    display: block;
    margin: 6rem auto 2rem auto;
    width: 80%;
}

.landvid .mob {
    display: none;
}

.landvid img {
    width: 100%;
}

.landvid video {
    width: 100%;
}

.products {
    margin-top: 0.5rem;
}

.products h1, .exp1 {
    font-size: 2rem;
    text-align: center;
    color: #FD9949;
}

.exp1 {
    color: #4C4C4C;
}

.exp1::after {
    content: url(img/gift-size.png);
    padding: 0.5rem;

}

.cardHolder {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0;
}

.card {
    background-color: #FFFFFF;
    width: 18rem;
    height: 21.5rem;
    border: #E5660F solid 3px;
    border-radius: 0.5rem;
    transition: all 2s;
}

.card:hover{
    box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.30);
}

.ba {
    padding: 1rem 0;
}

.card img {
    width: 100%;
    border-radius:  5px;
}

.textbox {
    width: 90%;
    margin: auto;
}

.textbox h2{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #E5660F;
}

.confirm {
    width: 90%;
    margin: auto;
    color: #E5660F;
}

.con-center {
    text-align: center;
}

.con-center p {
    font-size: 1.5rem;
}

  
.confirm span{
    font-size: 1.5rem;
    color: #E5660F;
}

.bookbtn {
    text-align: center;
    width: 100%;
    padding: 0.rem 0;
}

.cal::before {
    content: url(img/calendar.png);
}

.bookbtn a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #E05E06, #FD9949);
    padding: 0 6.1rem;
    border-radius: 3px;
}

.seemore {
    text-align: center;
    width: 100%;
}

.kempa {
    background: #FFE5D1;
    width: 80%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
}

.kempa h2 {
    font-size: 2rem;
    color: #4C4C4C;
}

.kempa h2 span {
    font-size: 2rem;
    color: #FD9949;
}

.kempa img {
    width: 90%;
}

.more {
    transition: all 2s;
}

.more:hover {
    box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.30);
}

.kempa q {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.explore {
    transition: all 1.5s;
}

.explore:hover {
    box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.30);
}

.btn a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #FFFFFF;
    background: linear-gradient(to right, #E05E06, #FD9949);
    padding: 0.2rem 4rem;
    border-radius: 5px;
}

.testimonial {
    background: white;
    text-align: center;
}

.testimonial h3 {
    font-size: 1.5rem;
    color: #4C4C4C;
}

.testimonial h2 {
    font-size: 2rem;
    color: #4C4C4C;
}

.testimonial h2 span {
    font-size: 2rem;
    color: #FD9949;
}

.review-holder {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 2rem;
    padding: 1rem 0;
}

.review-card {
    background: #FFE5D1;
    width: 20rem;
    height: 18rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    transition: all 3s;
    margin: auto;
}

.review-card:hover {
    box-shadow: 15px 0px 5px 0px rgba(0,0,0,0.30);
}

.review-card img {
    width: 6rem;
}

.review-card q {
    font-family: 'Poppins', sans-serif;
    line-height: 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.txtbox {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    background: linear-gradient(to right, #FF5F6C, #FFC374);
    width: 100%;
    
}

.foot {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

.moto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txtbo {
    width: 18rem;
}

.txtbo q {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

.wapp-btn {
    width: 3rem;
    position: fixed;
    bottom: 4rem;
    right: 1rem;
}

.wapp-btn:hover {
    transform: scale(1.2);
}

.abt {
    display: block;
    margin: 8rem auto 2rem auto;
    width: 80%;
}

.abt div {
    width: 90%;
    margin: auto;
}

.abt p {
    font-family: 'poppins';
}

.whit {
    background-color: white;
}

.profile img {
    width: 12rem;
}

.whity {
    background: white;
    text-align: left;
    width: 80%;
}

.whity p {
    font-family: 'poppins';
}

.whity img {
    width: 50%;
}

.trek img {
    margin: auto;
}

.pro {
    margin: 7.5rem auto 2rem auto;
}

.tbox {
    margin: 8rem auto 4rem auto;
    text-align: left;
    width: 90%;
}

.tbox h2 {
    text-align: center;
}

.tbox p {
    font-family: 'poppins', sans-serif;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 2rem;
    
}

.vid {
    width: 65%;
}

.carde {
    margin: auto;
    text-align: center;
    height: 12rem;
    position: relative;
    bottom: 9rem;

}

.bookbtnn {
    padding: 0;
}

.bookbtnnn {
    position: relative;
    right: 1rem;
}

.font {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.font a {
    
    font-family: 'sans-serif';
    font-size: 0.9rem;
    text-decoration: none;
}

.kempe {
    padding: 1rem 3rem;
    position: relative;
    bottom: 4rem;
    text-align: left;
    width: 70%;
}

.content {
    background: linear-gradient(to right, #FF5F6C, #FFC374);
    margin: auto;
    width: 80%;
    position: relative;
    bottom: 7rem;
}
.content nav ul {
    display: flex;
    justify-content: space-around;
}

.content nav li:hover {
    background-color: white;
 }

.bookbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: #E05E06 solid 5px;
}

.content nav li:hover .cont-link {
    color: #4C4C4C;
}

.ghost a {
    background: #4C4C4C;
}

@media(max-width: 772px) {
     .toggle-btn {
        display: flex;
     }

     * {
        font-size: 13px;
     }

     nav li a {
        font-size: 16px;
     }

     .navbar-links {
        display: none;
        width: 100%;
        
     }

     .navbar {
        flex-direction: column;
        align-items: flex-start;
     }

     .navbar ul {
        width: 100%;
        flex-direction: column;
     }

     nav li {
        text-align: center;
        width: 100%;
     }

     .content nav li:hover {
        background-color: white;
     }

     .navbar-links.active {
        display: flex;
    }

    .landvid {
        display: block;
        margin: 6rem auto 2rem auto;
        width: 100%;
    }

    .landvid .mobile {
        width: 90%;
    }

    .landvid .mob {
        display: block;
    }

    .landvid .desktop {
        display: none;
    }

    .cardHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .kempa {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.30);
    }


    .review-card {
        width: 15rem;
        height: 20rem;
    }

    .review-card q {
        font-size: 0.6rem;
    }

    .kempa {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.30);
        width: 80%;
        margin-bottom: 1rem;
    }

    .kempa q {
        font-size: 0.8rem;
    }

    .txtbo {
        display: none;
    }

    .foot a {
        font-size: 0.9rem;
    }

    .wapp-btn {
        width: 4rem;
        bottom: 7.5rem
    }

    .whity {
        width: 90%;
    }
    .whity img {
        width: 80%;
        margin: auto;
    }

    .carde {
        bottom: 5rem;
    }

    .font {
        font-size: 11px;
    }

    .fone {
        font-size: 8px;
    }

    .carde {
        height: 12rem;
    }

    .content {
        width: 90%;
        bottom: 4.5rem;
        
    }

    .content ul {
        display: flex;
        flex-direction: column;
    }

    .content ul li {
        font-size: 0.8rem;
    }

    .bookbar {
        position: fixed;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        background-color: white;
        
    }

    .tbox {
        width: 90%;
    }


    .bookbtnnn {
        padding: 0.1rem;
    }

    .wapp-btn {
        width: 3.5rem;
    }

    .con-center p {
        font-size: 1rem;
    }

}

